<div class="container">
<section class= "round">

Create your online store

Shopify provides you with an ecommerce website, an easy to use administration area, and secure hosting - everything you need to sell your products online. <br> </br>

Start by choosing from over 100 ecommerce templates in the Shopify Theme Store. Customize your site's design: Upload a logo, change colors, fonts and more. You have full control of your website design, HTML & CSS. <br> </br>
. <br class="balnk" /> <br></br>
 
</section>

</div>