
<div class="container">
<section class= "round">
	For account questions & customer service: *2 from your Sprint phone
	Help with Sprint phones: 44-212-4327
	Help with Nextel phones: 44-649-8186
	small business wireline services: 44-271-3356

	Mailing Address:
	343 Doha, Qatar 
	2349 al Qoos roundabout 
	
	No returns will be accepted at this address. Find more information on our Return and Exchange Policy.
	To avoid delays, please include this information when you write to us:

	    Customer name
	    Telephone number
	    Account number
	    PIN (if you have one on your account)

 
 <br>
</section>
</div>