<%= link_to(image_tag("shop.jpg"),"http://wix.com/schakrav/bliss") %>
<h1>Welcome to our homepage!</h1>
<p>The most convenient sales listing application in town!</p>
<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
<%= link_to "Log in", login_path, class: "btn btn-large btn-primary" %>
