<div class="container">
<section class= "round">
 TERMS OF WEBSITE USE

IMPORTANT: Legal Terms of Website Use PLEASE READ THIS AGREEMENT CAREFULLY BEFORE ACCESSING THE SITE.

Welcome to ShopOnline (the "Company") Website (the "Site")! Your access to and use of the Site is subject to the Terms of Website Use (the "Terms") set forth in this Agreement.

By using this Site, you acknowledge that you have read and agree to be legally bound by these terms along with the terms of the Selling Source Privacy policy. <br> </br>YOU FURTHER REPRESENT (i) YOU HAVE THE CAPACITY TO BE BOUND BY THESE TERMS, AND <br> </br> (ii) IF YOU ARE ACTING ON BEHALF OF A COMPANY OR OTHER ENTITY, YOU HAVE THE AUTHORITY TO BIND SUCH COMPANY OR ENTITY. <br> </br> If you do not agree to be bound by the following terms, do not access or use this site. The company may make changes or additions to this Agreement at ANY TIME AND in its sole discretion. You should periodically review these Terms; CONTinued use of the Site will constitute your agreement with any such changes or additions.<br> </br>
 While using OnlineShop site, services and tools, you will not: <br> </br>

    1)post content or items in inappropriate categories or areas on our sites and services; <br> </br>

    2)violate any laws, third party rights or our policies; <br> </br>

    3)use our sites, services or tools if you are not able to form legally binding contracts or are temporarily or indefinitely suspended from using our sites, services, or tools; <br> </br>

    4)fail to deliver payment for items purchased by you, unless the seller has materially changed the item's description after you bid, a clear typographical error is made, or you cannot reach the seller; <br> </br>

    5)fail to deliver items purchased from you, unless the buyer fails to meet the posted terms, or you cannot reach the buyer; <br> </br>

    6)manipulate the price of any item or interfere with other users' listings; <br> </br>

    7)circumvent or manipulate our fee structure, the billing process, or fees owed to eBay; <br> </br>

   8) post false, inaccurate, misleading, defamatory, or libelous content;<br> </br>

  
</section>
</div>