.container {
width:710 px;
float:left; 
display:block;
 margin:0 23px 0 110px;
 
}
body {
background: #000000;
color: white;
}
header (
padding-top: 20px;
)
section {
margin-top: 1em;
font-size: 120%;
padding: 40px;
background: #fff; 
}
chat {
padding-right:40px;
color: #069;
}
/* links */
a {
color: #FF3300;
text-decoration:none;
}
a:hover {
color: #069;
text-decoration: underline;
}
/* Navigation */
nav {
font-size: 180%;
float: left;
width: 600px;
padding 0 0.7em;
white-space: nowrap;
}
nav ul {
margin: 0;
padding: 0 12;
}
nav ul li {
list-style-type: none;
display: inline-block;
padding: 0.2em 0;
}

nav ul li a{
padding: 0 5px;
font-weight: bold;
}
nav ul li a:visited {
color: #66CC00;
}
nav ul li a:hover{
text-decoration: underline; 
}

/* footer */ 
.footer{
	
text-align: right;
margin-top: 10px;
width:710px;
color : white;
 
}
footer nav{
float:none;


}
design {
text-align: right;
margin-top: 10px;
width:410px;
background: #C0C0C0;
}

round {
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 60px;
}